@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@200;400&display=swap');

:root{
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);
    --Transparent_white: hsla(0, 0%, 100%, 0.75);
    --Very_light_gray: hsl(0, 0%, 95%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    overflow-x: hidden;
    height: 1498px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards_container{
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 8px;
    color: white;
    display: grid;
    grid-template-columns: 323px;
    grid-template-rows: 430px 430px 430px;
}
#card_1{
    background-color: var(--Bright_orange);
}
#card_2{
    background-color: var(--Dark_cyan);
}
#card_3{
    background-color: var(--Very_dark_cyan);
}
.cards{
    padding: 40px 40px;
}
.cards > :not(.btn){
    margin-bottom: 30px;
}
.cards > h2 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}
.cards > p {
    font-size: 1rem;
    line-height: 25px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.cards > img {
    width: 70px;
}
.btn{
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 150px;
}
.btn a{
    text-decoration: none;
}
.btn_1 {color: var(--Bright_orange);}
.btn_2 {color: var(--Dark_cyan);}
.btn_3 {color: var(--Very_dark_cyan);}

.btn:hover{
    color: white;
    transition: color, background-color 100ms;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); } 

/*--------------------media queries min-width 728px----------------------*/
@media screen and (min-width:768px) {

    body{
        height: 100vh;
        width: 100;
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cards_container{
     scale: 1.1;
    }
    .attribution { 
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    }

}
/*--------------------media queries min-width 1024px----------------------*/
@media screen and (min-width:1024px) {
    .cards_container{
        overflow: hidden;
        border-radius: 8px;
        color: white;
        display: grid;
        grid-template-columns: 309px 309px 309px;
        grid-template-rows: 501px;
    }

    .cards > :not(.btn){
        margin-bottom: 40px;
    }
    .btn{
        margin-top: 20px;
    }
}
